<section class="content m-2">
    <div class="">
      <div class="card">
        <div class="card-body p-4 ">
            <ul class="list-group list-group-horizontal-lg d-flex justify-content-center">
                <li class="list-group-item contactWidth">
                    <div class="col-lg-2 mt-3 ms-4 me-1 d-inline" >
                        <div class="small-box big-box mt-1">
                          <div class="inner ">
                            <img src="assets\R.png" alt="mealImage"class="rounded-circle element-img">
                            <p class="m-2 fs-5">Total Income</p>
                            <P class="m-2">${{elemntsList?.total_income.number}}</P>
                            <p class="text-success">+{{elemntsList?.total_income.increase_percentage}}% <span class="text-black"> from last month</span></p>
                          </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item contactWidth"> 
                  <div class="col-lg-2 mt-3 ms-4 me-1 d-inline" >
                  <div class="small-box big-box mt-1">
                    <div class="inner ">
                      <img src="assets\img_406468.png" alt="mealImage"class="rounded-circle element-img">
                      <p class="m-2 fs-5">Total Order</p>
                      <P class="m-2">{{elemntsList?.total_order.number}}</P>
                      <p class="text-danger">{{elemntsList?.total_order.increase_percentage}}% <span class="text-black"> from last month</span></p>
                    </div>
                  </div>
              </div></li>
            </ul>
            <ul class="list-group list-group-horizontal-lg d-flex justify-content-center">
                <li class="list-group-item contactWidth"> 
                  <div class="col-lg-2 mt-3 ms-4 me-1 d-inline" >
                  <div class="small-box big-box mt-1">
                    <div class="inner ">
                      <img src="assets\human-eye-vision-optical-silhouette-icon-style-free-vector.jpg" alt="mealImage"class="rounded-circle element-img">
                      <p class="m-2 fs-5">Total Views</p>
                      <P class="m-2">${{elemntsList?.total_views.number}}</P>
                      <p class="text-success">+{{elemntsList?.total_views.increase_percentage}}% <span class="text-black"> from last month</span></p>
                    </div>
                  </div>
              </div></li>
                <li class="list-group-item contactWidth"> <div class="col-lg-2 mt-3 ms-4 me-1 d-inline" >
                  <div class="small-box big-box mt-1">
                    <div class="inner ">
                      <img src="assets\R (1).png" alt="mealImage"class="rounded-circle element-img">
                      <p class="m-2 fs-5">Convertion Rate</p>
                      <P class="m-2">${{elemntsList?.convertion_rate.number}}</P>
                      <p class="text-success">+{{elemntsList?.convertion_rate.increase_percentage}}% <span class="text-black"> from last month</span></p>
                    </div>
                  </div>
              </div></li>
            </ul>
        </div>
      </div>
    </div>
</section>