  <section class="content m-2">
        <div class="">
          <div class="card">
            <div class="card-header bg-white">
              <h3 class="card-title pt-2 fs-4 ps-4">Recent Trancation</h3>
            </div>
            <div class="card-body p-4">
              <table class="table pb-0">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let dish of foodList 
                      let i = index "
                     >
                    <td> <img [src]="dish. photo_path" alt="mealImage"
                        class="rounded-circle meal-img"></td>
                    <td>{{ dish?.name }} </td>
                    <td>{{dish.date | date}}</td>
                    <td>{{dish.total}}</td>
                    <td>{{dish.amount}} pack</td>
                    <td *ngIf="dish.status=='pending'" class="text-warning">{{dish.status}}</td>
                    <td *ngIf="dish.status=='success'" class="text-success">{{dish.status}}</td>
                    <td *ngIf="dish.status=='failure'" class="text-danger">{{dish.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </section>