.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.76);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  